<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-facespoofing" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>FaceSpoofing</name>
    <js-module name="FaceSpoofing" src="www/FaceSpoofing.js">
        <clobbers target="facespoofing" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="FaceSpoofing">
                <param name="android-package" value="cordova.plugin.facespoofing.FaceSpoofing" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:launchMode="singleTop" android:name="cordova.plugin.facespoofing.FaceSpoofingProcess" />
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/FaceSpoofing.java" target-dir="src/cordova/plugin/facespoofing" />
        <source-file src="src/android/FaceSpoofingProcess.java" target-dir="src/cordova/plugin/facespoofing" />
        <source-file src="src/android/FaceAntiSpoofing.java" target-dir="src/cordova/plugin/facespoofing" />
        <source-file src="src/android/MyUtil.java" target-dir="src/cordova/plugin/facespoofing" />
        <source-file src="src/android/mtcnn/Align.java" target-dir="src/cordova/plugin/facespoofing/mtcnn" />
        <source-file src="src/android/mtcnn/Box.java" target-dir="src/cordova/plugin/facespoofing/mtcnn" />
        <source-file src="src/android/mtcnn/MTCNN.java" target-dir="src/cordova/plugin/facespoofing/mtcnn" />
        <source-file src="src/android/mtcnn/Utils.java" target-dir="src/cordova/plugin/facespoofing/mtcnn" />
        <resource-file src="FaceAntiSpoofing.tflite" target="assets/FaceAntiSpoofing.tflite" />
        <resource-file src="onet.tflite" target="assets/onet.tflite" />
        <resource-file src="pnet.tflite" target="assets/pnet.tflite" />
        <resource-file src="rnet.tflite" target="assets/rnet.tflite" />
         <!-- Instalasi Gradle -->
        <framework
            custom="true"
            src="src/android/build-extras.gradle"
            type="gradleReference" />
        <hook type="after_prepare" src="scripts/apply-to-gradle.properties.js" />
    </platform>
</plugin>